@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/font-awesome/less/font-awesome";
@import "fonts";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900');
/*
* Vendor specific
*/
@import "vendors/parsley";
@import "vendors/slick";

html, body {
    height: 100%;
    background: @yellow;
    color: @gray-base;
}

#container {
    min-height: 100%;
}

.gray-block{
    background: #E6E6E6;
}

#blog article{
    background: @white;
    padding-bottom: 15px;
}

@media (max-width: @screen-xs) {
    .col-xs-6-full {
        width: 100% !important;
    }
}

.article-image {
    margin-bottom: @line-height-computed;
}

.article-image.align-left {
    padding-left: 0;
    padding-right: 15px;
}

.article-image.align-right {
    padding-right: 0;
    padding-left: 15px;
}

.article-image.align-center {
    text-align: center;
    .caption {
        text-align: left;
    }
    .thumbnail {
        display: inline-block;
    }
}

.article-image.align-left, .article-image.align-right {

    @media (min-width: @screen-xs) {
        max-width: 50%;
    }

    @media (max-width: @screen-xs) {
        padding-left: 0;
        padding-right: 0;
    }

}

#page{
    article{
        border-top: 1px solid @gray-base;
        border-bottom: 1px solid @gray-base;
        font-size: 15px;
        margin-top: 60px;
    }
}

// blog
.articles-block{
    border-top: 1px solid @gray-base;
    border-bottom: 1px solid @gray-base;    
    .blogs-header{
        .form-group {
            margin-top: 15px;
            margin-bottom: 0px;
        }
    }

    .media{
        .media-heading{
            font-size: 22px;
        }
    }
}


// text

.text-bold {
    font-weight: 700;
}

.mt-1 {
    margin-top: @line-height-computed * 1px;
}

.mt-2 {
    margin-top: @line-height-computed * 2px;
}

.mt-3 {
    margin-top: @line-height-computed * 3px;
}

.mb-1 {
    margin-bottom: @line-height-computed * 1;
}

.mb-2 {
    margin-bottom: @line-height-computed * 2;
}

.mb-3 {
    margin-bottom: @line-height-computed * 3;
}

.ml-1 {
    margin-left: @line-height-computed * 1px;
}

.ml-2 {
    margin-left: @line-height-computed * 2px;
}

.ml-3 {
    margin-left: @line-height-computed * 3px;
}

.pl-1 {
    padding-left: @line-height-computed * 1px;
}

.pl-2 {
    padding-left: @line-height-computed * 2px;
}

.pl-3 {
    padding-left: @line-height-computed * 3px;
}

.pt-1 {
    padding-top: @line-height-computed * 1px;
}

.pt-2 {
    padding-top: @line-height-computed * 2px;
}

.pt-3 {
    padding-top: @line-height-computed * 3px;
}

.pb-3 {
    padding-bottom: @line-height-computed * 3px;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.align-right, .align-left {
    @media (max-width: @screen-xs) {
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}

.white-bottom-border{
    border-bottom: 1px solid @white;
}

.clear-both {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.text-align-center {
    text-align: center;
}

.vertical-align-middle {
    position: relative;
    top: 50%;
    .translate(0%, -50%);
}

.horizontal-align-center {
    .translate(-50%, -50%);
    left: 50%;
    position: absolute;
    z-index: 99;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.caption {
    font-size: @font-size-small;
    min-height: @font-size-small;
    box-sizing: content-box;

    p {
        margin-bottom: 0;
    }

    .article-image-attribution {
        float: right;
    }
}

.pull-quote {
    font-size: @font-size-large;
    border-top: 3px solid @text-color;
    border-bottom: 3px solid @text-color;
    padding: @panel-body-padding;
    margin-bottom: @font-size-base;
    text-align: center;
}

.page-title {
    text-align: center;
    margin-top: @font-size-h1;
    margin-bottom: @font-size-h1;

    &.page-title-left {
        text-align: left;
        font-weight: 900;
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 0;
    }
    p{
        margin: 0 0 5px;
    }

}

section{
    h2{
        font-weight: 500;
        font-size: 29px;
        margin: 40px 0
    }
    h3{
        font-size: 23px;
    }
    b,
    strong{
        font-weight: 900;
    }
    padding-bottom: 40px;

    #sidebar{
        h2{
            font-weight: 900;
            font-size: 29px;
            margin: 0;
        }
    }

    @media (max-width: @screen-sm) {
        h2{
            font-size: 26px;
            margin: 30px 0;
        }
        h3{
            font-size: 19px;
        }
        padding-bottom: 30px;
    }

    @media (max-width: @screen-xs) {
        h2{
            font-size: 22px;
            margin: 20px 0;
        }
        h3{
            font-size: 18px;
        }
        padding-bottom: 20px;
    }
}

.article {
    padding-bottom: @padding-large-vertical;

    .article-title {
        &:extend(.page-title);
    }

    .article-meta{
        position: relative;
        .article-author{
            position: absolute;
            left: 0;
            top: 0;
            width: 48px;
            height: 48px;
            background-size: 100%;
        }
    }

    .article-byline {
        padding-left: 63px;
        position: relative;
        text-align: left;
        margin-bottom: @font-size-h1;
        line-height: 48px;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 700;
    }
}

#sidebar {
    padding-top: 20px;
    background: @white;
    margin-top: 60px;
}

.article-body {
    .clearfix();
}

.steps-block,
.reviews-block{
    figure {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        background-size: 100%;
    }

    .step{
        padding: 0 40px;
        &:nth-child(1),
            &:nth-child(2){
            .step-arrow{
                display: none;
                background: url(/images/gray_right_arrow.png);
                width: 100px;
                height: 100px;
                position: absolute;
                right: -45px;
                top: 86px;
                margin-top: -50px;
                background-size: 100%;
                @media (min-width: @grid-float-breakpoint) {
                    display: block;
                }
            }
        }
    }

    @media (max-width: @screen-sm) {
        figure {
            width: 120px;
            height: 120px;
        }
    }

    @media (max-width: @screen-xs) {
        figure {
            width: 100px;
            height: 100px;
        }
    }
}

#page{
    .steps-block{
        figure {
            width: 100px;
            height: 100px;
        }

        .step{
            padding: 0 40px;
            &:nth-child(1),
                &:nth-child(2){
                .step-arrow{
                    width: 60px;
                    height: 60px;
                    right: -34px;
                    top: 69px;
                    margin-top: -50px;
                }
            }
        }
    }
}

.perks-block{
    figure {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .perk{
        padding-left: 60px;
        h3{
            font-weight: 900;
            margin-top: 10x;
        }
    }

    @media (max-width: @screen-sm) {

    }

    @media (max-width: @screen-xs) {
    }
}

.points-block{
    figure {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }
}

.reviews-block{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;

    .review-image{
        img{
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .review-summary {
        margin-bottom: 40px;
    }

    .review-byline{
        padding-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        font-style: italic;
    }

    .slick-dots{
        bottom: -15px;
    }
}

.profiles-block{
    figure {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }

    h3{
        font-size: 21px;
    }
}

.media {
    padding: 0;
    margin-bottom: @panel-body-padding;
    padding-bottom: @panel-body-padding;
    border-radius: 0;
    .media-body{
        padding: @panel-body-padding;
    }
    .media-right,
    .media > .pull-right {
        padding-left: @panel-body-padding;
        padding-bottom: @panel-body-padding;
    }

    .media-left,
    .media > .pull-left {
        padding-right: @panel-body-padding;
        padding-bottom: @panel-body-padding;
    }

    .media-date-byline {
        border-top: 1px solid @gray-light;
        border-bottom: 1px solid @gray-light;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: @padding-base-vertical;
    }

    .media-heading{
        margin-bottom: 15px;
        font-size: 26px;
        font-weight: 900;
        a{
            &:hover{
                text-decoration: none;
            }
        }
        @media (max-width: @screen-sm) {
            font-size: 21px;
        }
        @media (max-width: @screen-xs) {
            font-size: 19px;
        }
    }

    .media-summary {
        p:last-child {
            margin-bottom: @padding-base-vertical;
        }
        @media (max-width: @screen-xs) {
            font-size: 14px;
        }
    }

    &.media-responsive {
        .media-right, .media-left {

            @media (max-width: @screen-xs) {
                display: block;
                float: none !important;
                padding-right: 0;
                padding-left: 0;

                .media-object {
                    width: 100%;
                }

                .media-heading{
                    margin-bottom: 15px;
                    font-size: 22px;
                    font-weight: 900;
                }
            }

            @media (min-width: @screen-xs + 1) {
                .media-object {
                    width: 200px;
                }
            }

            @media (min-width: @screen-md) {
                .media-object {
                    width: 160px;
                }
            }

        }
    }
}

.nav-stacked {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    padding-bottom: 20px;
    > li{
        margin-top: 10px;
        > a{
            text-decoration: none;
            padding: 2px 0px;
            &:hover{
                color: @yellow;
                background-color: transparent;
                text-decoration: none;
            }
        }  
        &.active{
            a {
                color: @yellow;
                background-color: transparent;
                text-decoration: none;
                &:hover{
                    color: @yellow;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }
    }
}

.local-left{
    .nav-stacked{
        > li {
            padding-bottom: 10px;
            border-bottom: 1px solid @gray-base;
            padding: 0 10px 10px;
            margin-bottom: 10px;
        }

    } 
}

.site-footer{
    text-align: left;
    padding: 10px;

    .nav-stacked {
        list-style: none;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0;
        > li{
            > a{
                text-decoration: none;
                padding: 2px 0px;
                &:hover{
                    color: @gray-base;
                    background-color: transparent !important;
                    text-decoration: none;
                }
            }  
            &.active{
                a {
                    color: @gray-base;
                    background-color: transparent;
                    text-decoration: none;
                    &:hover{
                        color: @gray-base;
                        background-color: transparent;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    h2{
        font-weight: 900;
    }
    @media (max-width: @grid-float-breakpoint) {
        h2{
            font-weight: 700;
            font-size: 25px;
        }

        ul{
            li{
                font-size: 14px;
            }
        }
    }
}

.edit-this-page {
    font-size: 14px !important;
    background: #fff;
    display: inline-block;
    padding: 4px;
    height: 22px;
    width: 22px;
    line-height: 14px;
    color: @gray;

    &:hover {
        background: @gray;
        color: #fff;
    }
}

.search-block {
    position: relative;
    .search-form{
        display: block;
        width: 253px;
        position: absolute;
        top: -370px;
        right: 20px;

        .input-group {
            width: 100%;
            .form-control{
                border: 1px solid transparent;
            }
        }

        .input-group-addon{
            width: 49px;
            height: 49px;
            background-size: 100%;
            border: 1px solid transparent;
        }

        #destination .input-group-addon{
            background-image: url(/images/destination.png);
        }
        #guests .input-group-addon{
            background-image: url(/images/guests.png);
        }
        #duration .input-group-addon{
            background-image: url(/images/duration.png);
        }
    }
    @media (min-width: @grid-float-breakpoint) {
        display: none;
    }
}

#footer {
    background: @yellow;
}

.site-header {
    background: @white;
    .top-yellow-bg{
        background: @yellow;
        height: 30px;
        line-height: 30px;
        width: 100%;
        a,
        span{
            font-size: 14px;
            color: @gray;
            .fa{
                font-size: 12px;
            }
        }
        .text-uppercase{
            font-size: 13px;
            margin-left: 10px;
        }
    }
}

.navbar-default{
    .fields-search-field {
        position: relative;
        @media (min-width: @grid-float-breakpoint) {
            position: absolute;
            right: 15px;
            top: 5px;
        }
        .form-control{
            font-size: 14px;
            height: 27px;
        }
        .fa-search{
            position: absolute;
            top: 6px;
            right: 10px;
            font-size: 14px;
            color: @yellow;
        }
    }

    .navbar-toggle{
        .icon-bar{
            background-color: @gray-base;
        }
        &:hover, 
            &:focus {
            .icon-bar{
                background-color: @yellow;
            }
        }
    }
}

.navbar-nav {
    > li{
        > a {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 900;
            border-radius: 3px;
            padding: 2px 10px;
            line-height: 25px;
        }
        margin-bottom: 10px;
    } 
    margin: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    // Uncollapse the nav
    @media (min-width: @grid-float-breakpoint) {
        margin: 44px 0 0;
        float: right;
        > li{
            margin-bottom: 0px;
            margin-left: 10px;
        }
    }
}

// Nav bar dropdown
.navbar-nav > li.dropdown {
    > a {
        padding-right: 30px;
        &:after {
            .fa-icon();
            content: @fa-var-chevron-down;
            position: absolute;
            top: ~"calc(50% - 6px)";
            right: 9px;
            font-size: 0.75em;
        }
    }
}

// Nav form
.navbar-form {
    .form-control {
        background: transparent;
        border: 0;
        border-bottom: 1px solid @gray-light;
        border-radius: 0;
        color: @gray-lighter;
        box-shadow: none;
    }
}

// buttons

.btn-default{
    border-width: 2px;
    border-color: @btn-default-color;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
        background: transparent;
    }

    &.btn-lg{
        background: @yellow;
        color: @gray-base;
        font-weight: 900;
        border-color: transparent;
    }
}

.btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 24px;
    &.btn-lg{
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.3333333;
        border-radius: 6px;
        color: @gray-base;
        background-color: transparent;
        border-color: @gray-base;
        border-width: 3px;
    }
}

.btn-yellow {
    color: @gray-base;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    padding: 7px 24px;
    border-color: transparent;
    background-color: @yellow;
}

// share
.article-sharing {
    min-height: 28px;
    text-align: left;
    margin-bottom: @font-size-h1;

}

.share-btn {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    color: @gray-base;
    font-size: 21px;
    border: 1px solid @gray-base;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    line-height: 38px;
    text-align: center;
    &:hover{
        background: @gray-base;
        color: @white;
    }
}

/* notifications */
#notifications {
    z-index: 101;
}

body.ltr #notifications {
    left: 0;
}

body.rtl #notifications {
    right: 0;
}

#notifications.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

#notifications {
    text-align: center;

    .notification {
        .alert;
    }
    .notification[class*="message"] {
    }
    .notification[class*="notice"] {
        .alert-info;
    }
    .notification[class*="error"] {
        .alert-danger;
    }

    .notification {
        margin-bottom: 0;
        border-radius: 0;

        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .notification + .notification {
        border-top: 0;
    }

}

// Dropdown sub-menu
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    .fa-icon();
    content: @fa-var-chevron-right;
    position: relative;
    top: ~"calc(50% - 6px)";
    right: -9px;
    font-size: 0.75em;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

h1.gtmwarning {
    text-align: center;
    background: red;
}

/* Gallery */
.grid-sizer, .grid-item {
    width: 33%;
    margin-bottom: 5px;

}

.grid-item-width2 {
    width: percentage(8/12);
}

.grid-item-height2 {
    img {
        width: 100%;
        overflow: hidden;
    }
    .lightbox {
        padding-bottom: 100%;
    }
}

.gallery-link {
    position: relative;

    a:hover .caption {
        display: block;
    }

    .caption {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

}

.mfp-description {
    color: #ccc;
    margin-top: 10px;
}

a.thumbnail:hover, a.thumbnail:active {
    text-decoration: none;
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
    position: absolute;
    left: 0px;
    right: auto;
    bottom: 0;
    top: 0;
    z-index: 10;
    text-align: left;
    .container{
        font-weight: 900;
        font-size: 92px;
        text-transform: uppercase;
        padding: 20px 90px;
        line-height: 94px;
    }
}

.inline {
    display: inline-block;
}

// Scale up controls for tablets and up
@media (max-width: @grid-float-breakpoint-max) {
    .carousel-caption {
        .container{
            font-weight: 900;
            font-size: 28px;
            text-transform: uppercase;
            padding: 20px;
            line-height: 24px;
        }
    }

    // Move up the indicators
    .carousel-indicators {
        bottom: 20px;
    }
}

