{% extends "_layouts/master" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').relatedTo(entry).first() %}

{% if currentMenuNode is not null %}
    {% set parentMenuNode = currentMenuNode.getAncestors().first() %}
{% endif %}

{% block head %}
    {{ templateMacros.renderMetaFromEntry(entry) }}
{% endblock %}

{% block content %}

    <section id="page">
        <div class="container">
            <div class="row">
                {%- include "_includes/sidebar.twig" -%}
                <article class="article col-sm-8 col-sm-offset-1 mt-3">
                    <div class="row">
                        <h1 class="page-title page-title-left">{{ entry.displayTitle|raw }}{{ templateMacros.renderEditButton(entry) }}</h1>
                        {{ templateMacros.renderBody(entry.body, guestEntry) }}
                    </div>
                </article>
            </div>
        </div>
    </section>

{% endblock %}