<div class="row perks-block mt-1 mb-1">
    {% for step in entry.steps %}
        <div class="perk col-sm-6 col-xs-12">
            <figure class="perk-figure" style="background-image: url({{ step.image.first().getUrl({height:50, quality:80}) }})"></figure>
            <h3>
                <span class="sub-heading">{{ step.displayTitle }}</span>
            </h3>
            <p class="text-light">
                {{ step.summary | hacksaw(chars='140', append='...') }}
            </p>
        </div>
    {% endfor %}
</div>