<div class="points-block pt-1">
    {% for point in points %}
        <div class="point col-sm-4 col-xs-12">
            <figure class="point-figure" style="background-image: url({{ point.featureImage.first().getUrl({height:160, quality:80}) }})"></figure>
            <h3 class="text-bold text-center">
                <span>
                    <span class="sub-heading">{{ point.title }}</span>
                </span>
            </h3>
            <p class="text-center text-light">
                {{ point.summary | hacksaw(chars='140', append='...') }}
            </p>
            <div class="point-arrow"></div>
        </div>
    {% endfor %}
</div>