{% extends "_layouts/master.twig" %}
{% set isHomeEntry = true %}

{% block content %}

    <div class="index-slider" data-height="0">
        {{ templateMacros.renderPanel(entry.body.type('relatedPanel').first().panel.first()) }}
    </div>

    <div class="container hidden-xs" style="position: relative">
        <div class="search-block" id="search-block">
            {%- include "_includes/search.twig" -%}
        </div>
    </div>

    <div class="container search-xs hidden-lg hidden-md hidden-sm search-form-xs">
        {%- include "_includes/search.twig" -%}
    </div>

    <section id='trust-items'>
        <div class="container">
            <h2 class="text-center section-title"> {{ entry.body.type('text').first().text }}</h2>
            {% set points = craft.entries.section('points').limit(3) %}
            {%- include "panels/points.twig" -%}
        </div>
    </section>

    <section class="gray-block" id='how-it-works'>
        <div class="container">
            <h2 class="text-center section-title">How it <b>works</b></h2>
            {{ templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(1).panel.first()) }}
            {%- include "panels/steps.twig" -%}
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <h2 class="text-center section-title">What <b>guests</b> are saying</h2>
            {% set reviews = craft.entries.section('reviews').limit(3) %}
            {%- include "panels/reviews.twig" -%}
        </div>
    </section>

    <section class="gray-block" id="blog">
        <div class="container">
            <h2 class="text-center section-title"><b>Tourism</b> news blog</h2>
            <div class="text-align-center blog-list">
                {% set entries = craft.entries.section('blog').limit(3) %}

                {%- include "blog/_list.twig" -%}
            </div>
        </div>
    </section>
    <input type="hidden" id="url" value="/local/search">
{% endblock %}
