{% extends "_layouts/master.twig" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').id(26).first() %}
{% set isHomeEntry = true %}

{% block content %}

    {{  templateMacros.renderPanel(entry.body.type('relatedPanel').first().panel.first()) }}

    <div class="container search-block">
        <form class="search-form">
            <div class="form-group"> 
                <div class="form-group" id="destination"> 
                    <div class="input-group-addon"></div>
                    <input class="text form-control input-lg fullwidth" type="text" id="destination" name="destination" value="" placeholder="Your destination">
                </div>
            </div>
            <div class="form-group"> 
                <div class="form-group" id="guests"> 
                    <div class="input-group-addon"></div>
                    <select class="form-control fullwidth" name="guests"><option selected="selected" value="">Amount of guests</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>
                </div>
            </div>
            <div class="form-group" id="duration"> 
                <div class="input-group-addon"></div>
                <input class="text form-control input-lg fullwidth datetime-input" type="text" id="duration" name="duration" value=" - " placeholder="Length of stay">
            </div>
            <div class="datetime-group">
                <div class="datetime-inner">
                    <div class="date-range" data-id="date-from">
                        <input type="hidden" name="date_from" id="date-from" value="">
                        <div class="date-arrow"></div>
                        <div class="date-header">From</div>
                        <div id="from-date" class="datepicker"></div>
                        <div class="datepicker datepicker-inline"><div class="datepicker-days" style="display: block;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">March 2017</th><th class="next" style="visibility: visible;">&nbsp;</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day">26</td><td class="old day">27</td><td class="old day">28</td><td class="day">1</td><td class="day">2</td><td class="day">3</td><td class="day">4</td></tr><tr><td class="day">5</td><td class="day">6</td><td class="day">7</td><td class="day">8</td><td class="day">9</td><td class="day">10</td><td class="day">11</td></tr><tr><td class="day">12</td><td class="day">13</td><td class="day">14</td><td class="day">15</td><td class="day">16</td><td class="day">17</td><td class="day">18</td></tr><tr><td class="day">19</td><td class="day">20</td><td class="day">21</td><td class="day">22</td><td class="day">23</td><td class="day">24</td><td class="day">25</td></tr><tr><td class="day">26</td><td class="day">27</td><td class="day">28</td><td class="day">29</td><td class="day">30</td><td class="day">31</td><td class="new day">1</td></tr><tr><td class="new day">2</td><td class="new day">3</td><td class="new day">4</td><td class="new day">5</td><td class="new day">6</td><td class="new day">7</td><td class="new day">8</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2017</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month focused">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year focused">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div></div>
                    <div class="date-range" data-id="date-to">
                        <input type="hidden" name="date_to" id="date-to" value="">
                        <div class="date-header">To</div>
                        <div id="to-date" class="datepicker"></div>
                        <div class="datepicker datepicker-inline"><div class="datepicker-days" style="display: block;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">March 2017</th><th class="next" style="visibility: visible;">&nbsp;</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day">26</td><td class="old day">27</td><td class="old day">28</td><td class="day">1</td><td class="day">2</td><td class="day">3</td><td class="day">4</td></tr><tr><td class="day">5</td><td class="day">6</td><td class="day">7</td><td class="day">8</td><td class="day">9</td><td class="day">10</td><td class="day">11</td></tr><tr><td class="day">12</td><td class="day">13</td><td class="day">14</td><td class="day">15</td><td class="day">16</td><td class="day">17</td><td class="day">18</td></tr><tr><td class="day">19</td><td class="day">20</td><td class="day">21</td><td class="day">22</td><td class="day">23</td><td class="day">24</td><td class="day">25</td></tr><tr><td class="day">26</td><td class="day">27</td><td class="day">28</td><td class="day">29</td><td class="day">30</td><td class="day">31</td><td class="new day">1</td></tr><tr><td class="new day">2</td><td class="new day">3</td><td class="new day">4</td><td class="new day">5</td><td class="new day">6</td><td class="new day">7</td><td class="new day">8</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2017</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month focused">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year focused">2017</span><span class="year">2018</span><span class="year">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev" style="visibility: visible;">&nbsp;</th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next" style="visibility: visible;">&nbsp;</th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div></div>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg btn-block">Find a Host</button>
        </form>
    </div>

    <section id='trust-items'>
        <div class="container">
            <h2 class="text-center section-title"> {{ entry.body.type('text').first().text }}</h2>
            {% set points = craft.entries.section('points').limit(3) %}
            {%- include "panels/points.twig" -%}
        </div>
    </section>

    <section class="gray-block" id='how-it-works'>
        <div class="container">
            <h2 class="text-center section-title">How it <b>works</b></h2>
            {{  templateMacros.renderPanel(entry.body.type('relatedPanel').offsetGet(1).panel.first()) }}
            {%- include "panels/steps.twig" -%}
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <h2 class="text-center section-title">What <b>guests</b> are saying</h2>
            {% set reviews = craft.entries.section('reviews').limit(3) %}
            {%- include "panels/reviews.twig" -%}
        </div>
    </section>

    <section class="gray-block" id="blog">
        <div class="container">
            <h2 class="text-center section-title"><b>Tourism</b> news blog</h2>
            <div class="text-align-center blog-list">
                {%- include "blog/_list.twig" -%}
            </div>
        </div>
    </section>
{% endblock %}
