{% extends "_layouts/master.twig" %}
{% set currentMenuNode = craft.entries.section('mainNavigation').id(26).first() %}

{% block content %}
    
    {{ templateMacros.renderBody(entry.body.type('relatedPanel')) }}

    <section id='trust-items'>
        <div class="container">
            <h2 class="text-center section-title">We've ensured that your <b>experience</b> be beyond satisfying...</h2>
            <div class="row trust-items">
                <div class="trust-item col-md-4 col-sm-6">
                    <figure class="trust-figure"></figure>
                    <h3 class="text-bold text-center">
                        <span>
                            <span class="sub-heading">100%</span>
                            <!-- react-text: 10 --> With locals
                        </span>
                    </h3>
                    <p class="text-center text-light">
                        <span>Who you see is who you get.
                            <br>The Withlocals host you book is the
                            <br>host that welcomes you.
                        </span>
                    </p>
                </div>
                <div class="trust-item col-md-4 col-sm-6">
                    <figure class="trust-figure slick-slide slick-active local-image"></figure>
                    <h3 class="text-bold text-center">
                        <span>
                            <span class="sub-heading">100%</span>
                            <!-- react-text: 23 --> Private
                        </span>
                    </h3>
                    <p class="text-center text-light">
                        <span>All Withlocals experiences
                            <br>are private, meaning exclusively
                            <br>for you or your group.
                        </span>
                    </p>
                </div>
                <div class="trust-item col-md-4 col-sm-6">
                    <figure class="trust-figure slick-slide slick-active taste-image"></figure>
                    <h3 class="text-bold text-center">
                        <span><!-- react-text: 35 -->a 
                            <span class="sub-heading">100%</span>
                            <!-- react-text: 37 --> taste of the city
                        </span>
                    </h3>
                    <p class="text-center text-light">
                        <span><!-- react-text: 40 -->From city highlights to hidden gems.
                            <br><!-- react-text: 42 -->From food essentials to home dinners.
                            <br><!-- react-text: 44 -->Our hosts share it with you.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id='how-it-works'>
    <div class="container">
        <h2 class="text-center section-title">How it <b>works</b></h2>
        {% set steps = craft.entries.section('steps').limit(3) %}
        
        {%- include "panels/steps.twig" -%}
    </div>
</section>

<section id="reviews">
    <div class="container">
        <h2 class="text-center section-title">What <b>guests</b> are saying</h2>
        {% set reviews = craft.entries.section('reviews').limit(3) %}
        
        {%- include "panels/reviews.twig" -%}
    </div>
</section>

<section id="blog">
    <div class="container">
        <h2 class="text-center section-title"><b>Tourism</b> blog</h2>
        <div class="row text-align-center">
            {%- include "blog/_list.twig" -%}
        </div>
    </div>
</section>
{% endblock %}
